body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin-left:400px;
}

.row{
    display: inline-block;

}

.models{
    width: 20%;
    position: relative;
    text-align: center;
    display: inline-block;
    margin-left: 15px;
    
}

.models img{
    max-width: 100%;
}

.models .sales{
    position: absolute;
    left: 0;
    bottom: 20px;
    color: white;
    background-color: red;
    font-size: 11px;
    display: block;
} 

.models .symbol{
    position: absolute;
    right: 0;
    top: 15px;
    background-color: white;
    font-size: 25px;
    width: 35px;
}

.models .sustainability{
    position: absolute;
    left: 36px;
    bottom: 20px;
    color: white;
    background-color: green;
    font-size: 11px;
    display: block;
}

.sustainabilitytwo{
    position: absolute;
    left: 0;
    bottom: 20px;
    background-color: green;
    font-size: 11px;
    display: block;
    color: white;
}

/* spazio interno per lo sconto */
.internalspace{
    padding: 3px;
}

/* modo per sostituire le foto */
.secondmodels{
    display: none;
}

.models:hover .firstmodels{
    display: none;
}

.models:hover .secondmodels{
    display: block;
}

.marca{
    font-size: 12px;
}

.price{
    color: red;
    font-size: 13px;
}

.old-price{
    color: black;
    font-size: 13px;
    text-decoration: line-through;
}

/* inizioscritte  PRIME TRE FOTO*/

.description{
    padding-left: 15px;
    margin-bottom: 45px;
}

.firstdescription{
    display: inline-block;
}

.seconddescription{
    display: inline-block;
    padding-left: 110px;
}

.thirddescription{
    display: inline-block;
    padding-left: 220px;
}

.fourthdescription{
    display: inline-block;
}

.fifthdescription{
    display: inline-block;
    padding-left: 220px;
}

.sixthdescription{
    display: inline-block;
    padding-left: 190px;
}